.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main {
  display: grid;
  align-self: center;
  width: 80vw;
  margin-top: 3vh;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.main > p {
  font-size: xx-large;
  text-align: center;
}

.main > p > a {
  color: palevioletred;
  cursor: pointer;
  transition: 0.5s linear;
}

.main > p > a:hover {
  color: red;
}
